<!doctype html>
<html>
<h1>Sighting Stats</h1>

{% block content %}
<form  method='GET'>

<style>
table,table tr th, table tr td { border:1px solid black; }
table { width: 900px; min-height: 30px; line-height: 30px; text-align: center; border-collapse: collapse;}
</style>

<table>
	<tr>
		<th>Number of Squirrels</th>
		<th>Number of Juvenile Age Squirrels</th>
		<th>Number of Squirrels with Gray Fur</th>
		<th>Number of Squirrels on the Ground</th>
		<th>Number of Squirrels Running</th>
	</tr>
	<tr>
	<td>{{ num_of_sightings }}</td>
	<td>{{ juvenile_age }}</td>
	<td>{{ gray_fur }}</td>
	<td>{{ ground_plane_location }}</td>
	<td>{{ running }}</td>
	</tr>
</table>
</form>
{% endblock %}
</html>
