<!doctype html>
<html>
	<head>
	<meta charset = 'utf-8'>
	<meta name="viewport" content='width-device-width, initial-scale=2'>
	<style>
	body {
		margin:2;
		background-color:#CD5C5C;
		font-family:fantasy,cursive,serif;
		text-align:center;
		color:white;
	}
	h1 {
		background-color:#F5DEB3;
		color:black;
		text-align:center;
		padding:95px;
	        }
	</style>
	</head>

	<h1><center>Update Sightings</center></h1>
<body>
<form action='.' method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Update" />
</form>
<br>
<a href='/sightings/' class=''><button type='button' class='button'>Back to the list page</button></a >
</body>
</html>
